{% extends "base.html" %}

{% block content %}

  <form id="formSummarize" action="/summarize" method="POST">
    <div class="card" style="margin: 10px 0;">
      <div class="card-content">
        <div class="columns">
          <div class="column is-one-fifth">
            <figure class="image is-fullwidth">
              <img src="/uploads/preview.png" id="image-cover" style="border: 1px solid black">
            </figure>
            <button type="submit" id="btnSummarize" onclick="whenSummarize()" class="button is-primary is-fullwidth" style="margin-top: 5px; display: none;">Summarize</button>
            
            <!-- <button type="button" id="showAddBook" class="button is-info modal-button" data-target="#myModal" aria-haspopup="true"><i class="fas fa-plus"></i><span>Add</span></button> -->
          </div>
          <div class="column">
            <h4 class="title is-4">Choose a book</h4>
            
              <div class="radio-toolbar">
                <table class="table is-fullwidth">
                  <thead>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Pages</th>
                    <th></th>
                  </thead>
                  <tbody>
                      {% for b in books %}
                      <tr id="tr{{ b.filename }}" class="tr-book">
                        <td>{{ b.id }}</td>
                        <td>{{ b.title }}</td>
                        <td>{{ b.pages }}</td>
                        <td>
                          <input type="radio" id="book{{ b.id }}" name="book" value="{{ b.id }}" onclick="changeCover('{{ b.filename }}')">
                          <label for="book{{ b.id }}">Choose</label>
                        </td>
                        
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <br>
              
            
          </div>
        </div>
        
      </div>
    </div>
  </form>
    

    {% with result = get_flashed_messages() %}
    {% if result %}
    <div class="columns">
      <div class="column">
            <embed src="/uploads/{{ result[0] }}.pdf" width="100%" height="500" />
      </div>
      <div class="column">
        <div class="card" style="margin: 10px 0;">
          <div class="card-content">
              <h4 class="title is-4">Result</h4>
              <div class="control">
                <textarea class="textarea" id="resultText" readonly rows="15">{{ result[1]|join('') }}</textarea>
              </div>
              <p id="resultText" class="has-text-justified">
                  
              </p>
          </div>
          <footer class="card-footer">
              <p class="card-footer-item">
                  <span>
                      <button type="button" class="button is-info is-small" onclick="copyToClipboard()">
                        <i class="fas fa-copy"></i> &nbsp; Copy to Clipboard
                      </button>
                  </span>
                </p>
              <!-- <p class="card-footer-item">
                  <span>
                    <button type="button" class="button is-danger">
                      <i class="fas fa-file-export"></i> &nbsp; Export to PDF
                    </button>
                  </span>
              </p> -->
            </footer>
      </div>
      </div>
    </div>
    
    {% endif %}
    {% endwith %}

    <div id="snackbar">Some text some message..</div>

    <script>
        const fileInput = document.querySelector('#i-file input[type=file]');
            fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#i-file .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }

        function changeCover(filename) {
          $('#image-cover').attr('src','/uploads/'+filename+'.png');
          $('.tr-book').css("background-color", "white");
          $('#tr'+filename).css("background-color", "#BBFFBB");
          $('#btnSummarize').show();
          return false;
        }

        function whenSubmit() {
            const btnSubmit = document.getElementById('btnSubmit');
            btnSubmit.classList.add('is-loading'); 
            return false;
        }

        function whenSummarize() {
          const btnSummarize = document.getElementById('btnSummarize');
          btnSummarize.classList.add('is-loading'); 

          return false;
        }

        function copyToClipboard() {
            var elem = document.getElementById('resultText');
            
            elem.select();
            document.execCommand('copy');

            showSnackbar("Copied!");

            return false;
        }

        function showSnackbar(msg) {
          var x = document.getElementById("snackbar");
          x.innerText = msg;
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        
    </script>
    
{% endblock %}