{% extends "base.html" %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }} <br>
            {{ form.file }} <br>
            
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% with result = get_flashed_messages() %}
    {% if result %}
    <h3>Result:</h3>
    <p>
        {{ result|join('') }}
    </p>
    {% endif %}
    {% endwith %}
    
{% endblock %}