{% extends "base.html" %}

{% block content %}
    <div class="modal" id="myModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
        <p class="title">Upload a New Book</p>
          <form action="" method="POST" enctype="multipart/form-data" novalidate>
              {{ form.hidden_tag() }}
              <div>
                <h5 class="title is-5">{{ form.title.label }}</h5>
                <div style="padding: 0px 10px 20px 10px;">
                  {{ form.title(class_="input") }}
                </div>
              </div>
              <div>
                  <h5 class="title is-5">{{ form.file.label }}</h5>
                  
                  <div style="padding: 0px 10px 20px 10px;">
                      <div id="i-file" class="file has-name is-fullwidth">
                          <label class="file-label">
                            {{ form.file(class_="file-input") }}
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                            <span class="file-name">
                              <i>No file uploaded</i>
                            </span>
                          </label>
                        </div>
                  </div>
              </div>
              <button type="submit" id="btnSubmit" onclick="whenSubmit()" class="button is-primary">Submit</button>
          </form>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="card" style="margin: 10px 0;">
      <div class="card-content">
        <div class="columns">
          <div class="column is-one-fifth">
            <figure class="image is-fullwidth">
              <img src="/uploads/preview.png">
            </figure>
            <button type="submit" id="btnSummarize" onclick="whenChoose()" class="button is-primary is-fullwidth" style="margin-top: 5px; display: none;">Summarize</button>
            
            <!-- <button type="button" id="showAddBook" class="button is-info modal-button" data-target="#myModal" aria-haspopup="true"><i class="fas fa-plus"></i><span>Add</span></button> -->
          </div>
          <div class="column">
            <h4 class="title is-4">Choose a book</h4>
            <form id="formSummarize" action="/summarize" method="POST">
              <div class="radio-toolbar">
                <table class="table is-fullwidth">
                  <thead>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Pages</th>
                    <th></th>
                  </thead>
                  <tbody>
                      {% for b in books %}
                      <tr>
                        <td>{{ b.id }}</td>
                        <td>{{ b.title }}</td>
                        <td>{{ b.pages }}</td>
                        <td>
                          <input type="radio" id="book{{ b.id }}" name="book" value="{{ b.id }}">
                          <label for="book{{ b.id }}">Choose</label>
                        </td>
                        
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <br>
              
            </form>
          </div>
        </div>
        
      </div>
    </div>

    

    {% with result = get_flashed_messages() %}
    {% if result %}
    <div class="columns">
      <div class="column">
            <embed src="/uploads/{{ result[0] }}.pdf" width="100%" height="500" />
      </div>
      <div class="column">
        <div class="card" style="margin: 10px 0;">
          <div class="card-content">
              <h4 class="title is-4">Result</h4>
              <div class="control">
                <textarea class="textarea" id="resultText" readonly rows="15">{{ result[1]|join('') }}</textarea>
              </div>
              <p id="resultText" class="has-text-justified">
                  
              </p>
          </div>
          <footer class="card-footer">
              <p class="card-footer-item">
                  <span>
                      <button type="button" class="button is-info is-small" onclick="copyToClipboard()">
                        <i class="fas fa-copy"></i> &nbsp; Copy to Clipboard
                      </button>
                  </span>
                </p>
              <!-- <p class="card-footer-item">
                  <span>
                    <button type="button" class="button is-danger">
                      <i class="fas fa-file-export"></i> &nbsp; Export to PDF
                    </button>
                  </span>
              </p> -->
            </footer>
      </div>
      </div>
    </div>
    
    {% endif %}
    {% endwith %}

    <div id="snackbar">Some text some message..</div>

    <script>
        const fileInput = document.querySelector('#i-file input[type=file]');
            fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#i-file .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }

        document.querySelectorAll('.modal-button').forEach(function(el) {
          el.addEventListener('click', function() {
            var target = document.querySelector(el.getAttribute('data-target'));
            
            target.classList.add('is-active');
            
            target.querySelector('.modal-close').addEventListener('click',   function() {
                target.classList.remove('is-active');
             });
          });
        });

        function whenSubmit() {
            const btnSubmit = document.getElementById('btnSubmit');
            btnSubmit.classList.add('is-loading'); 
            return false;
        }

        function whenChoose() {
          const btnSummarize = document.getElementById('btnSummarize');
          btnSummarize.classList.add('is-loading'); 

          /*var path_file = $("input[name='book']:checked").val();

          $.ajax({
            url: "{{ url_for('summarize') }}",
            type: "POST",
            data: {'path_file': path_file},
            success: function()
          })*/

          return false;
        }

        function copyToClipboard() {
            var elem = document.getElementById('resultText');
            
            elem.select();
            document.execCommand('copy');

            showSnackbar("Copied!");

            return false;
        }

        function showSnackbar(msg) {
          var x = document.getElementById("snackbar");
          x.innerText = msg;
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        
    </script>
    
{% endblock %}